#properties-circle {
    margin-top: 65px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 47.31px 9.69px rgba(143, 188, 98, 0.21);
    width: 542px;
    height: 542px;
    position: absolute;
    top: calc(50% - 271px);
    left: calc(50% - 271px);
}

#properties-circle2 {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 47.31px 9.69px rgba(143, 188, 98, 0.21);
    position: absolute;
    left: calc(50% - 185px);
    top: calc(50% - 185px);
    width: 370px;
    height: 370px;
    z-index: 196;
}

#properties-circle2-image {
    position: absolute;
    left: calc(50% - 240px);
    top: calc(50% - 191px);
    z-index: -1;
}

 #properties-circle2-image:hover {
    transform: scale(1.1);
    transition: 1s;
}

#1:hover #properties-container2 {
    transform: scale(1.1);
}